---
import { type CollectionEntry } from 'astro:content'
import BlogPost from '@/layouts/BlogPost'
import Code from '@/components/mdx/Code'
import ListRelatedPosts from '@/components/ListRelatedPosts'
import Share from '@/components/Share'
import TableOfContents from '@/components/TableOfContents'
import {
	DEFAULT_LOCALE,
	SUPPORTED_LOCALES,
	getPosts,
	stripLocaleFromSlug
} from '@/utils'
import SButton from '@/components/mdx/SButton'
import Disqus from '@/components/Disqus'
import { disqusConfig } from '@/data/disqus.config'
import { components } from '../../../components/mixins/AutoImportComponents'

export async function getStaticPaths() {
	const localizedPosts = await Promise.all(
		SUPPORTED_LOCALES.map(async (locale) => {
			const posts = await getPosts(undefined, locale)
			return posts.map((post) => ({
				params: {
					lang: locale,
					slug: stripLocaleFromSlug(post.slug, locale)
				},
				props: post
			}))
		})
	)

	return localizedPosts.flat()
}

type Props = CollectionEntry<'blog'>

const post = Astro.props
const locale = Astro.params.lang ?? DEFAULT_LOCALE
const posts = await getPosts(undefined, locale)
const MAX_POSTS = 3
const getRelatedPosts = (post: Props) => {
	const lowercaseTags = post.data.tags?.map((tag) => tag.toLowerCase()) || []
	const relatedPosts = posts.filter(
		(p) => p.slug !== post.slug && p.data.tags?.some((t) => lowercaseTags.includes(t.toLowerCase()))
	)
	return relatedPosts.slice(0, MAX_POSTS)
}

const relatedPosts = getRelatedPosts(post)

const { Content, headings, remarkPluginFrontmatter } = await post.render()

const disqusEnabled = disqusConfig.enabled
---

<BlogPost
	id={post.id}
	data={post.data}
	headings={headings}
	readTime={remarkPluginFrontmatter.minutesRead}
>
	<div class='grid grid-cols-1 lg:grid-cols-[240px_minmax(0,1fr)] gap-10 lg:gap-12 mt-8'>
		<!-- aside  -->
		<aside class='lg:flex flex-col gap-8 hidden'>
			<div class='sticky top-24 self-start hidden lg:block transition-all duration-200'>
				{headings && headings.length > 0 && <TableOfContents {headings} />}
			</div>
		</aside>

		<!-- post -->
		<article class='max-w-full w-full min-w-0'>
			<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 max-w-none'>
				<Content components={{ ...components, pre: Code, SButton }} />
			</div>

			<!-- related posts -->
			<footer>
				<h2 class='font-bold text-lg dark:text-white mb-6'>Related Posts</h2>
				<ListRelatedPosts posts={relatedPosts} />
			</footer>
		</article>
	</div>

	{disqusEnabled && <Disqus />}
</BlogPost>
